/* Обнуление */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

ul,
ol,
li {
    list-style: none;
}

/* Шрифты */

@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Верстка: header */

.header {
    display: flex;
    box-shadow: 0 -2px 0 0 #EDEDED inset;
    width: 100%;
    left: 0;
    top: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 67px;
    height: 117px;
    flex: 1;
}

.header-menu {

}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-item {
    font-family: "Gotham Pro";
    font-weight: bold;
}

.menu-item:not(:last-child) {
   margin-right: 36px;
}

.menu-link {
    line-height: 24px;
    font-size: 16px;
    color: #000000;
    line-height: 18px;
    text-decoration: none;
}

.menu-button {
    font-family: "Gotham Pro";
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    width: 272px;
    height: 55px;
    background: #89CDFA;
    border-radius: 5px;
}

.header-logo {
    font-family: 'Gotham Pro';
    font-size: 44px;
    line-height: 52px;
    display: flex;
    color: #313747;
    text-decoration: none;
}

/* Верстка: page */

.main-block-container {
    display: flex;
    height: 461px;
    position: relative;
}

.main-block-textcontent {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 360px;
    padding-left: 67px;
    padding-bottom: 2095px;
}

.main-block-imagecontent {
    flex-basis: 50%;
    padding-top: 33px;
    padding-left: 20%;
}

.main-block-title {
    font-family: "Gotham Pro";
    font-size: 28px;
    font-weight: bold;
    line-height: 43px;
}

.main-block-text {
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;
    white-space: nowrap;
    padding-top: 20px;
}

.feature-img {
    width: 517px;
    height: 363px;
    background-image: url('images/mainBlockImage.png');
}

.companies-block-container {
    height: 520px;
    background: #F5F5F5;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.companies-block-title-container {
    padding: 35px 509px;
    text-align: center;
}

.companies-block-title {
    font-family: "Gotham Pro";
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    white-space: nowrap;
}

.table-container {
    padding: 23px 216px;
}

th {

}

.img-1 {
    padding-top: 36px;
    padding-left: 320px;
}

.img-2 {
    padding-top: 36px;
    padding-left: 112px;
}

.img-3 {
    padding-top: 60px;
    padding-left: 100px;
}

.img-4 {
    padding-top: 36px;
    padding-left: 85px;
}

.companies-block-subtitle {
    position: relative;
    font-family: 'Gotham Pro';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 0 0 16px 0;
}

.companies-block-subtitle-container {
    text-align: center;
    padding: 21px 373px 31px;
}

.button-guess {
    font-family: "Gotham Pro";
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    width: 272px;
    height: 55px;
    background: #89CDFA;
    border-radius: 5px;
}

.app-block-title {
    font-family: 'Gotham Pro';
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding: 46px;
}

